<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AccountStauts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0F68414B1D337CEB007B46E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F6841641D337CEB007B46E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F68416F1D337CEB007B46E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
